/* Labels
--------------------------------- */

#hw_services_meta_box input {
	max-width: 100%;
	}

#hw_services_meta_box label {
	width: 150px;
	display: inline-block;
	}

#hw_services_meta_box label:before {
	font-family: "Dashicons";
	font-size: 1.2rem;
	padding-right: .5rem;
	vertical-align: middle;
		}

label[for="hw_services_address_line_1"]:before {
	content: "\f230 ";
	}

label[for="hw_services_address_line_2"]:before {
	content: "\f230 ";
	}

label[for="hw_services_city"]:before {
	content: "\f230 ";
	}

label[for="hw_services_county"]:before {
	content: "\f230 ";
	}

label[for="hw_services_postcode"]:before {
	content: "\f230 ";
	}

label[for="hw_services_phone"]:before {
	content: "\f525 ";
	}

label[for="hw_services_website"]:before {
	content: "\f504 ";
	}

label[for="hw_services_contact_email"]:before {
	content: "\f465 ";
}

label[for="hw_services_contact_optout"]:before {
	content: "\f153 ";
}

label[for="hw_services_cqc_location"]:before {
	content: "\f112 ";
	}

label[for="hw_services_date_visited"]:before {
	content: "\f508 ";
	}

label[for="hw_services_full_report"]:before {
	content: "\f103 ";
	}

.post-com-count-wrapper {
	font-size: 1.2rem;
	}

span.dashicons-small {
	font-size: .5rem;
	color: var(--hw-green);
	}

/* widget-three-column-img-hwbucks
--------------------------------- */

.hwbucks-three-col-img-preview {
	display: block;
	margin-bottom:0.5rem;
}

.hwbucks-three-col-img-container {
	margin-top:0.5rem;
	border:1px solid rgb(221, 221, 221);
	padding:0.5rem;
}

/* Comment columns
----------------------------------------*/
.fixed .column-categories,
.fixed .column-rel,
.fixed .column-response,
.fixed .column-role,
.fixed .column-tags {
 width: auto !important;
}

#thumb {
  width: 80px;
}

.fixed .column-date {
  width: 10% !important;
}

.comment.column-comment.has-row-actions.column-primary p {
	margin-top: 0px;
}

#feedback_author_ip_check,
#feedback_response_boolean,
#feedback_hw_reply_boolean {
  width: 100px;
	text-align: center;
}

.checkmark {
	color: var(--hw-green);
	padding: 0.5rem;
}

.checkmark:hover {
  background: var(--hw-green);
  color: white;
}

.nhs {
	color: #005eb8;
	padding: 0.5rem;
}

.checkmark-wrapper {
	text-align: center;
	display: block;
}

.feedback_author_ip_check.column-feedback_author_ip_check {
	text-align: center;
}

/* URL Tool */

#hwbucks-url-tool-intructions,
#hw-feedback-data-import-tool-instructions {
	background: white;
	border-radius: 10px;
	box-shadow: 0 0 5px rgba(211,211,211,0.35);
	padding:0.5rem 1rem;
	margin-bottom:1rem;
}

#hwbucks-url-tool-intructions ul {
   list-style-type: disc;
   list-style-position: inside;
}

/* Import Tool */
.hw-feedback-cqc-form .hw-feedback-cqc-import-form-row {
	margin: 0.5rem 0;
}

#hw-feedback-preview-only-row {
	display: inline-block;
}

/* kill the yarpp-review-notice */
.notice.notice-info.is-dismissible.yarpp-review-notice,
.yarpp-review-notice {
	display: none !important;
}
