/* CSS for changes to plugin */

.media.signpost-phone,
.media.signpost-email,
.media.signpost-website,
.media.signpost-address,
.media.signpost-location {
  padding: 0px;
  border: 0px;
}

.media.signpost-email .media-body a,
.media.signpost-website .media-body a {
  /* These are technically the same, but use both */
  overflow-wrap: break-word;
  word-wrap: break-word;

  -ms-word-break: break-all;
  /* This is the dangerous one in WebKit, as it breaks things wherever
  word-break: break-all;*/
  /* Instead use this non-standard one: */
  word-break: break-word;

  /* Adds a hyphen where the word breaks, if supported (No Blink) */
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.media.signpost-phone .media-body p,
.media.signpost-email .media-body p,
.media.signpost-website .media-body p,
.media.signpost-address .media-body p,
.media.signpost-location .media-body p {
  margin-bottom: 0px;
}

.media.signpost-phone .media-left,
.media.signpost-email .media-left,
.media.signpost-website .media-left,
.media.signpost-address .media-left,
.media.signpost-location .media-left{
  padding-right: 0px;
}

.media.signpost-phone .media-body,
.media.signpost-email .media-body,
.media.signpost-website .media-body,
.media.signpost-address .media-body,
.media.signpost-location .media-body{
  font-size:16px;
}

.edit-signpost {
  text-align:right;
}

.media.callout-note {
  border: 1px solid gold;
  background-color: #fff9db;
  padding: 0px;
}

.media.callout-note .media-left {
  padding: 1rem 0 0 1rem;
  text-align: center;
}

.media.callout-note .media-left .far.shortcode-icon {
  font-weight: 400;
}

.media.callout-note .media-body {
  padding: 1rem;
}
